//Colors
$first-color: #F2B91E;
$second-color: #FFFF;
$third-color: #EDF2F5;
$form-button: #2D4649;
//Font Color
$c-bigtitle: #222222;
$c-smalltitle: #333333;
$c-bigyellow: #F2B91E;
$c-light: #B6B6B6;
//Font size
$title-big: 4rem;
$title-med: 3.2rem;
$title-small: 2.2rem;
$title-xsmall: 1.8rem;
$text-card: 1.4rem;
$text-art: 1.3rem;
$text-xsmall: 0.9rem;